@font-face {
    font-family: dark;
    src: url(/src/fonts/IceKingdom-Bold-PorKustren.ttf);
}
body{
    height: 100vh;
    /* width: 100vw; */
    background-image: url("/src/img/menu-jogo-hanoi.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     
}

h1{
    font-size: 85px;
    margin-bottom: 40px;
    text-shadow: 2px 2px #ffffff73;
    font-family: dark, sans-serif;
    text-align: center;
    margin-top: 40px;
 
}


section{
    display: flex;
    justify-content: center;
    width: 450px;

}

 
.botaoMenuInicial{
    border: 3px solid #181818; 
    border-radius: 0px 20px 5px 20px;
    max-width: 120px;
    width: 100%;
    height: 45px;
    margin: 15px;
    background-image: url("/src/img/textureBtn.png");
    background-size: 100%;
    background-position: center;
    color: #939393;
    font-size: 32px;
    font-family: dark, sans-serif;
}
.botaoMenuInicial:hover{
    border:3px solid white;
}

.hideMenu{
    display: none;
}

 
.btnFullScreen{
    position: fixed;
    margin-right: 15px;
    align-self: flex-end;
    top:25px;
    right: 25px;
    background-color: #383838;
    border-radius: 2px;
}  

@keyframes  changeH1Color{
    0%{
        color: #0f0f0f
        
    }

    50%{
        color: #383838;
        text-shadow: 5px 5px #00000073;
    }

    100%{
        color:  #0f0f0f;
    }
}